{% extends 'content_base.html.twig' %}

{% block content_body %}
    {{ form_start(trainingForm, {attr: {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    {{ form_widget(trainingForm) }}
    <button class="btn btn-primary mt-3">Opslaan</button>
    {{ form_end(trainingForm) }}
{% endblock %}

