{% extends 'content_base.html.twig' %}

{% block content_body %}
    <div class="jumbotron mt-4">
        <h1 class="text-info">Welcome to Training Center The Hague</h1>
        <p>
            The Hague Training Center is a gym where you can practice different types of martial arts, indoor bootcamp,
            personal and small group training under proffesional supervisers. On this site you can sign in and out of
            lessons.
        </p>
    </div>
    <div class="row">
        {% for training in trainings %}
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{{ uploaded_asset(training.imagePath) }}" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{ training.name }}</h4>
                        <p class="card-text">{{ training.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}