{% extends 'content_base.html.twig' %}

{% block content_body %}
    <div class="d-flex flex-wrap">
        <h1>Regels in de sportschool</h1>
        <h5>Om het leven in een sportschool of fitnesscentrum zo plezierig mogelijk te houden, is er een ongeschreven
            lijst van gedragsregels. Iedereen komt naar de sportschool – in zijn of haar eigen tijd – om een goeie
            training te hebben, en wil die tijd aangenaam kunnen besteden. Er is geen generieke lijst, maar het komt er
            voornamelijk op neer dat je je gezonde verstand gebruikt tijdens het sporten, zodat andere mensen zo min
            mogelijk last van je hebben. Om toch enige houvast te bieden, heb ik een lijst van regels samengesteld uit
            de vele lijsten die de ronde doen. Doe hier je voordeel mee!
        </h5>
        <br><br>
        <p><b>Wees vriendelijk tegen je medesporters</b><br><br>
            Schreeuw niet tegen mensen. Vloek niet onnodig. Maak niet teveel herrie. Zorg ervoor dat iedereen zich thuis
            voelt in de sportschool.
            <br><br>

            <b>Praat niet tegen mensen die midden in een set bezig zijn</b><br><br>
            Dit houdt in dat je iemand die bezig is met een oefening niet stoort! Geen vragenstellen, niet tegen diegene
            aankletsen, enzovoort. Iemand die serieus aan het trainen is heeft zijn concentratie nodig. Staar diegene
            ook niet aan terwijl deze bezig is.
            Ga niet vóór iemand staan die de spiegel gebruikt
            Om goed te trainen is het vaak nodig om je vorm te bekijken in de spiegel. Ga daarom nooit vóór iemand staan
            die hiermee bezig is. Dat is zéér onbeleefd!
            <br><br>

            <b>Gebruik een handdoek als je traint</b><br><br>
            Niets is zo erg als een toestel te moeten gebruiken dat nog nat is van het zweet van de vorige persoon… Als
            je traint, zorg er dan voor dat je het toestel na gebruik schoonveegt.
            <br><br>

            <b>Ruim je rotzooi op!</b><br><br>
            Laat geen losse gewichten of stangen op de grond liggen, maar leg deze terug waar ze horen. Laat ook geen
            zware gewichten aan een halter of op een apparaat zitten. De volgende persoon die het apparaat nodig heeft
            is misschien niet zo sterk als jij, en kan een blessure oplopen door het opruimen van jouw achtergelaten
            gewichten.
            <br><br>

            <b>Gooi niet met gewichten</b><br><br>
            Veel sporters denken dat het betalen van een abonnement hun het recht geeft te doen wat ze willen. Het is
            niet ongebruikelijk om mensen na een set de gewichten gewoon te zien neergooien. Dit is niet alleen
            gevaarlijk, maar het kan ook een kostbare zaak worden (ik heb getraind op een sportschool waar een hele
            nieuwe set dumbbells moest worden aangeschaft, omdat de oude set redelijk naar de knoppen was gegooid…).
            <br><br>

            <b>Hou de apparatuur niet onnodig bezet</b><br><br>
            Als je bezig bent met trainen, blijf dan niet op een apparaat zitten tussen je setjes door. Ten eerste is
            het beter voor je lichaam om je spieren even los te gooien, en ten tweede is dit zeer onvriendelijk
            tegenover een ander die eventueel tussen door een set wilt doen.
            <br><br>

            <b>Praat niet onnodig tijdens de training</b><br><br>
            Praten tussen je setjes door is niet erg. Wanneer dit echter constant en op luide toon gebeurt gaan mensen
            zich daaraan verschrikkelijk ergeren. Niet iedereen is geïnteresseerd in wat je het weekend allemaal hebt
            uitgespookt, of dat je relatie in het slop zit. Als je wilt praten, ga naar de bar of naar buiten, maar laat
            andere mensen rustig trainen.
            <br><br>

            <b>Kleed je behoorlijk</b><br><br>
            Trek geen kleren aan die aanstoot kunnen geven of teveel bloot geven. Niet iedereen is geïnteresseerd in
            jouw blote buik of harige rug. Zorg er ook voor dat je kleding schoon is.
            <br><br>

            Denk goed na over wat je aantrekt; niet iedereen kan alles aan. Een zeer goede uitspraak heb ik gevonden in
            een Amerikaanse lijst: ‘Spandex is a privilege, not a right!’.
            <br><br>

            <b>Let op je persoonlijke hygiëne</b><br><br>
            Sommige mensen ruiken al als ze de sportschool binnenkomen. Anderen denken dat ze sportkleding twee weken
            aan kunnen houden zonder deze te wassen. Zorg ervoor dat je schoon en fris bent, en – in godsnaam! – gebruik
            deodorant!!!
            <br><br>

            Aan de andere kant: het is vreselijk om te moeten trainen in de lucht van iemands parfum of aftershave.
            Gebruik dit na het trainen, niet ervoor.
            <br><br>

            <b>Laat iemand meetrainen als het nodig is, maar gebruik je verstand</b><br><br>
            Als iemand de apparatuur waarmee jij werkt ook wilt gebruiken, wees dan zo galant dit toe te laten. Zorg er
            echter wel voor dat dit niet teveel werk inhoudt, zoals het iedere set opnieuw afstellen van de apparatuur,
            of het constant verwisselen van gewichten. Als jij met iemand mee wilt trainen, denk hier dan ook aan.
            Iemand van twee meter kan helaas zeer moeilijk tegelijk op hetzelfde apparaat trainen met iemand die 1.60 m
            is.
            <br><br>

            <b>Roddel niet!</b><br><br>
            Roddel niet over anderen in de sportschool. Wat anderen doen gaat jou helemaal niets aan. Als je wilt praten
            over mensen, ga dan naar buiten.
            <br><br>


            Leef naar deze regels, en het verblijf op de sportschool wordt een stuk aantrekkelijker!</p>
    </div>
{% endblock %}