{% extends 'content_base.html.twig' %}

{% block content_body %}
    <ul class="list-group">
        <li class="list-group-item active">{{ lesson }} - {{ lesson.time|date() }}</li>
        {% for member in members %}
            <li class="list-group-item">
                <p>{{ member }}</p>
            </li>
        {% else %}
            <p>No participants found</p>
        {% endfor %}
    </ul>
{% endblock %}