{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {% include 'components/page_header.html.twig' %}
    {% endblock %}
    <main class="d-flex flex-column flex-grow-1 border-dark mx-3 p-1" style="border: 1px solid">
        <div class="container">
            {% block content_body %}
            {% endblock %}
        </div>
    </main>
    {% block footer %}
        {% include "components/page_footer.html.twig" %}
    {% endblock %}
{% endblock %}