<footer class="bg-dark text-light mt-3">
    <div class="footer-copyright text-center py-3">
        <h4 class="text-danger">Training Center The Hague
            <a class="text-danger" href="tel:010 591 0632">010 591 0632</a>
        </h4>
        <p>Developed by JustDylan 2019 ©</p>
    </div>
</footer>